<div id="l-navbar">
  <div class="navbar">
    <div class="site-logo"><a href="#">Twig Builder Demo</a></div>
    <ul class="nav">
      {{#each nav}}
        <li><a href="{{url}}">{{title}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
