.section {
  border: 1px solid brown;
}
.section .title {
  text-align: center;
  color: brown;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

.msg {
  color: blue;
}

.timer {
  color: rgba(0, 0, 0, 0.6);
}